<app-pokemon-card [items]="this._pokemonService.items" [config]="config">
</app-pokemon-card>
<div class="col-12 d-flex justify-content-center mt-5">
  <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
</div>

<!-------------------------------------------Error Message------------------------------------>
<div *ngIf="_pokemonService.errormessage" class="alert alert-warning text-center mt-5 mb-5" role="alert">
  <h4>{{_pokemonService.errormessage}}</h4>
</div>

