<div class="col-12">
  <div class="row">
    <div class="col-2 justify-content-end">
      <select>
        <option value="All">All</option>
      </select>
    </div>
  <!--  Search Bar-->
    <div class="col-3">
      <input class="form-control" type="text" name="search" [(ngModel)]="item.name" placeholder="Search..." >
    </div>
  </div>
</div>
<div class="col-12 mt-5">
  <div class="row justify-content-center">
    <div *ngFor="let item of this.pokemon |filter:item.name" class="card m-2 align-items-center bg-25 {{item.types[0].type.name}}" style="width: 18rem;">
      <div class="image-container">
        <img src="{{item.sprites.other.home.front_default}}" class="card-img-top">
      </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{item.name}}</h5>
        </div>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-6">
                  <p>Pokemon Info:</p>
                </div>
                <div class="col-6 text-end">
                  <p>type: <br>{{ item.types[0].type.name}} </p>
                </div>
              </div>

              <table class="col-12">
                <tr *ngFor="let item2 of item.stats">{{item2.stat.name}}
                  <td>
                    {{item2.base_stat}}
                  </td>
                </tr>
              </table>
            </div>
    </div>
  </div>
</div>
