@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";/* You can add global styles to this file, and also import other style files */
/*
body {
  background-image: url("/assets/images/pexels-pixabay-247676.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
*/
body {
  background-color: #f6bd60 !important;
}
/*Pagination Style*/
li.current {
  background-color: #e63946 !important;
  color: white !important;
}
@media only screen and (max-width: 600px) {
  body {
    display: flex;
    align-items: center;
  }
}
